*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    position: relative;
    min-height: 100vh;
    background-image:linear-gradient(
        rgba(4, 9, 30, 0.7),
        rgba(4, 9, 30, 0.7)
      ), url(https://wallpapercave.com/wp/wp2930058.jpg); ;

}
.container h1{font-size: 60px;
    font-family: "Poppins", sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px white;
text-align: center;
  }
  .container,.img-contain{
    display: flex;
    flex-wrap: wrap ;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.container,.img-contain,.image{
    height: 250px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}
.container,.img-contain,.image img{height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
  }
  .container .img-contain .image:hover img{
    transform: scale(1.1);
          }
          .container .pop-up{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.9);
          height: 100%;
      width: 100%;
  z-index: 100;   
  display: none;   }
  .container .pop-up span{position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.container .pop-up img{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
     border: 5px solid #fff;
     border-radius: 5px;
     width: 750px;
     object-fit: cover;
}
@media(max-width:768px)
{
    .container .pop-up img{
        width: 95%;
    }
}
  
